

body { 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    background-color:rgb(253, 253, 253);
 }
header{ 
    min-height: 8vh; 
} 
main{
    flex-grow: 1;
} 
footer{ 
    min-height: 5vh;
    background-color: #18a2b8;
    color: aliceblue;
}
    /* BELOW: card styling for modal */
 .bg-header{
    background-image: url("https://legacyinnova.com/images/sun-above-clouds.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 48% 39%;
}

.title{
    color: #10547e;
    text-shadow: 2px 2px 10px white;
}
.subtext{
    
    color:white ;
     text-shadow: 0px 1px 5px #10547e;
}

/* BELOW: Profile styling */

.profBg{
    background-color: #10547e;
}
.profPic{
    border-radius: 50%;
    border-style: groove;
}